<!DOCTYPE html>
<html ng-app="TTT">
  <head>
	<title>Tic-Tac-Toe</title>
	<link rel="stylesheet" href="ttt.css">
	<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
	<script type="text/javascript" src="ttt.js"></script>
  </head>
  <body>
	<div ng-controller="GameCtrl as game">
	  <h1>Tic-Tac-Toe</h1>
	  <h2>User: {{game.user}}</h2>
	  <p>The rules are simple match {{ 1+2 }} in a row and you win</p>
	  <table>
      <tr ng-repeat="row in game.board track by $index">
        <td ng-repeat="column in row track by $index"> {{column}}</td>
      </tr>
	  </table>
	  <button ng-click="game.move()">Move</button>
	</div>
  </body>
</html>
